---
const pageTitle = "sobre mi";
const identity = {
    firstName: "Agustin",
    country: "Argentina",
    occupation: "Desarrollador web",
    hobbies: ["Diseño web"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
        <h1>{pageTitle}</h1>
        <p>He aquí algunos datos sobre mí:</p>
        <ul>
            <li>Me llamo {identity.firstName}.</li>
            <li>
                Vivo en {identity.country} y trabajo como {identity.occupation}.
            </li>
            <li>Mi Hobbie es {identity.hobbies}</li>
        </ul>
        <p>Mis habilidades son:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        {happy && <p>¡Estoy feliz de aprender Astro!</p>}

        {finished && <p>¡He terminado este tutorial!</p>}

        {
            goal === 3 ? (
                <p>Mi objetivo es terminar en 3 días.</p>
            ) : (
                <p>Mi objetivo no son 3 días.</p>
            )
        }
    </body>
</html>
